@media screen and (max-width: 1124px) {
    header .left-side span{
        display: unset;
    }
    main{
      width: 100% !important;
      padding: 30px !important;
    }
    aside{
        position: fixed;
        transform: translateX(-100%);
    }
  }
  