/* fonts : poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color     : #123524;
    --secondary-color   : #85A947;
    --light-color       : #EFE3C2;
    --dark-color        : #000;
    --danger-color      : #cd313e;
    --white-color       : #fff;
    --muted            : #6c757d;
}
*:not(i) {
    font-family: "Poppins", serif !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.fa{
    /* padding: 8px ; */
    border-radius: 4px ;
}

.text-primary{
    color: var(--primary-color) !important;
}

.text-muted{
    color: var(--muted) !important;
}

.btn-light{
    background-color:var(--light-color) !important;
    color: var(--primary-color) !important;
    border:1px solid var(--light-color) !important ;
}

.btn-light:hover{
    background-color:var(--primary-color) !important;       
    color: var(--light-color) !important;
    border: 1px solid var(--light-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}


.btn-primary{
    background-color:var(--primary-color) !important;
    color: var(--white-color) !important;
    border:1px solid var(--primary-color) !important ;
}

.btn-primary:hover{
    background-color:var(--white-color) !important;       
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn-secondary{
    background-color:var(--secondary-color) !important;
    color: var(--white-color) !important;
    border:1px solid var(--secondary-color) !important ;
}

.btn-secondary:hover{
    background-color:var(--white-color) !important;       
    color: var(--dark-color) !important;
    border: 1px solid var(--primary-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn-danger{
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
    color: var(--white-color) !important;
}
.btn-danger:hover{
    background-color:var(--white-color) !important;       
    color: var(--danger-color) !important;
    border: 1px solid var(--danger-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn:focus , .btn:active{
    outline: none; 
    box-shadow: none ; /* Glowing effect */
}


.form-control:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
}

/* breadcrumb  [Start]*/
#breadcrumb-component{
    margin-left: -13px;
}

#breadcrumb-component .breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    background-color: transparent;
  }
  
  #breadcrumb-component .breadcrumb-item a {
    color: var(--primary-color);   
  }
  #breadcrumb-component .breadcrumb-item:nth-child(1)::before {
    content: unset;    
    }
  #breadcrumb-component .breadcrumb-item::before {
    content: '>';    
    }
  
  #breadcrumb-component .breadcrumb-item a:not(:hover) {
      text-decoration: none;
  }
  
/* breadcrumb  [End]*/
  

/* Footer css [Start] */
.author{
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 1000;
    font-size: 12px;
    background-color: #fff;
    display: block;
    width: 100%;
    text-align: right;
}
/* Footer css [End] */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 12px 20px 3px 20px;
    background-color: #fff;
    box-shadow: 0px -1px 21px -3px var(--light-color)
}

header .left-side span{
    display: none;
}

aside{
    width: 220px;
    float: left;
    background-color:  var(--light-color);
    padding: 8px 0px;
    height: 100vh;
    z-index: 9999 !important;
}

aside a{
    color: var(--primary-color);
    padding: 5px 23px;
}
aside a.active{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
}

aside li{
    line-height: 35px !important;
    margin: 5px 0;
}

aside .toggle-gallery {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside .toggle-gallery:hover {
    color: #007bff;
}


aside ul > ul {
    margin: 5px 0;
}

main{
    /* margin-left: 12px; */
    width: 80% !important;
    float: left;
    padding: 30px 0px 0px 55px;
    overflow-x: scroll;
}


/* datatable css [start] */
.table{
    padding-top: 13px !important;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: unset !important;
}

#tbl_wrapper .dataTables_paginate  a{
    
    padding: 3px 12px !important;
}

#tbl_wrapper .dataTables_paginate  .disabled:hover{
    background-color: unset !important;
    color: unset !important;
}
#tbl_wrapper .dataTables_paginate  a.current {
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-radius: 6px !important;
}
#tbl_wrapper .dataTables_paginate  a:hover{
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
    border-radius: 6px !important;
}

.table  th:nth-child(1){
    border-radius: 8px 0px 0px 0px !important;
}
.table  th:last-child{
    border-radius: 0px 8px 0px 0px !important;
}

.table  th{
    padding: 5px;
    background-color: var(--primary-color) !important;    
    color: var(--white-color);      
}

.table tbody tr:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* datatable css [End] */


/* CKEEditor  */
.ck-editor__editable  {
    height: 250px !important; 
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}